Repository joomla/core-translations, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tecpromotion, @joomla/core-translations-maintainer, @zero-24

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @core-translations-maintainer will be requested for
# review when someone opens a pull request.
#* @joomla/core-translations-maintainer

/.github/workflows/ @tecpromotion

# Core Installation Files only allowed from Crowdin
/joomla_v4/translations/core/installation/language/  @joomla/core-translations-maintainer
/joomla_v5/translations/core/installation/language/  @joomla/core-translations-maintainer

# Japanese
/joomla_v4/translations/package/ja-JP/  @joomla/core-translations-maintainer
/joomla_v5/translations/package/ja-JP/  @joomla/core-translations-maintainer

# German Germany
/joomla_v4/translations/package/de-DE/  @zero-24 @tecpromotion
/joomla_v5/translations/package/de-DE/  @zero-24 @tecpromotion

# German Austria
/joomla_v4/translations/package/de-AT/  @zero-24 @tecpromotion
/joomla_v5/translations/package/de-AT/  @zero-24 @tecpromotion

# German Liechtenstein
/joomla_v4/translations/package/de-LI/  @zero-24 @tecpromotion
/joomla_v5/translations/package/de-LI/  @zero-24 @tecpromotion

# German Luxembourg
/joomla_v4/translations/package/de-LU/  @zero-24 @tecpromotion
/joomla_v5/translations/package/de-LU/  @zero-24 @tecpromotion

# German Switzerland
/joomla_v4/translations/package/de-CH/  @zero-24 @tecpromotion
/joomla_v5/translations/package/de-CH/  @zero-24 @tecpromotion

remove J4 uploads
  .github/workflows/local-upload-austrian.yml
  .github/workflows/local-upload-german.yml
  .github/workflows/local-upload-liechtenstein.yml
  .github/workflows/local-upload-luxembourg.yml
  .github/workflows/local-upload-polish.yml
  .github/workflows/local-upload-swiss.yml
Owners: @tecpromotion

New Greek Crowdin translations by Github Action
  joomla_v4/translations/package/el-GR/administrator/language/el-GR/install.xml
  joomla_v4/translations/package/el-GR/administrator/language/el-GR/langmetadata.xml
  joomla_v4/translations/package/el-GR/api/language/el-GR/install.xml
  joomla_v4/translations/package/el-GR/api/language/el-GR/langmetadata.xml
  joomla_v4/translations/package/el-GR/language/el-GR/install.xml
  joomla_v4/translations/package/el-GR/language/el-GR/langmetadata.xml
  joomla_v4/translations/package/el-GR/pkg_el-GR.xml
Owners: none

New Slovenian Crowdin translations by Github Action
  joomla_v4/translations/package/sl-SI/administrator/language/sl-SI/install.xml
  joomla_v4/translations/package/sl-SI/administrator/language/sl-SI/langmetadata.xml
  joomla_v4/translations/package/sl-SI/api/language/sl-SI/install.xml
  joomla_v4/translations/package/sl-SI/api/language/sl-SI/langmetadata.xml
  joomla_v4/translations/package/sl-SI/language/sl-SI/install.xml
  joomla_v4/translations/package/sl-SI/language/sl-SI/langmetadata.xml
  joomla_v4/translations/package/sl-SI/pkg_sl-SI.xml
Owners: none

New Welsh Crowdin translations by Github Action
  joomla_v4/translations/package/cy-GB/administrator/language/cy-GB/install.xml
  joomla_v4/translations/package/cy-GB/administrator/language/cy-GB/langmetadata.xml
  joomla_v4/translations/package/cy-GB/api/language/cy-GB/install.xml
  joomla_v4/translations/package/cy-GB/api/language/cy-GB/langmetadata.xml
  joomla_v4/translations/package/cy-GB/language/cy-GB/install.xml
  joomla_v4/translations/package/cy-GB/language/cy-GB/langmetadata.xml
  joomla_v4/translations/package/cy-GB/pkg_cy-GB.xml
Owners: none

New Afrikaans Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/af-ZA/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Arabic Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/ar-AA/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Basque Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/eu-ES/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Belarusian Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/be-BY/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Bulgarian Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/bg-BG/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Catalan Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/ca-ES/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Chinese Simplified Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/zh-CN/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Chinese Traditional Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/zh-TW/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Croatian Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/hr-HR/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Czech Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/cs-CZ/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Danish Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/da-DK/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Dari Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/fa-AF/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Dutch Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/nl-NL/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Dutch Belgium Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/nl-BE/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New English Australia Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/en-AU/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New English Canada Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/en-CA/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New English New Zealand Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/en-NZ/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New English US Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/en-US/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Estonian Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/et-EE/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Finnish Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/fi-FI/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Afrikaans Crowdin translations by Github Action
  joomla_v6/translations/core/installation/language/af-ZA/joomla.cli.ini
Owners: none

New French Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/fr-FR/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New French Canada Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/fr-CA/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Arabic Crowdin translations by Github Action
  joomla_v6/translations/core/installation/language/ar-AA/joomla.cli.ini
Owners: none

New Georgian Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/ka-GE/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Basque Crowdin translations by Github Action
  joomla_v6/translations/core/installation/language/eu-ES/joomla.cli.ini
Owners: none

New Greek Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/el-GR/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Belarusian Crowdin translations by Github Action
  joomla_v6/translations/core/installation/language/be-BY/joomla.cli.ini
Owners: none

New Hebrew Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/he-IL/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Bulgarian Crowdin translations by Github Action
  joomla_v6/translations/core/installation/language/bg-BG/joomla.cli.ini
Owners: none

New Hungarian Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/hu-HU/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Catalan Crowdin translations by Github Action
  joomla_v6/translations/core/installation/language/ca-ES/joomla.cli.ini
Owners: none

New Indonesian Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/id-ID/joomla.cli.ini
Owners: @joomla/core-translations-maintainer

New Chinese Simplified Crowdin translations by Github Action
  joomla_v6/translations/core/installation/language/zh-CN/joomla.cli.ini
Owners: none

New Chinese Traditional Crowdin translations by Github Action
  joomla_v6/translations/core/installation/language/zh-TW/joomla.cli.ini
Owners: none

New Italian Crowdin translations by Github Action
  joomla_v5/translations/core/installation/language/it-IT/joomla.cli.ini
Owners: @joomla/core-translations-maintainer
